import /recovery.init.${ro.hardware}.rc
import init.recovery.debug.rc
import /init.watchdog.rc

on early-init
    start ueventd

on init
    export PATH /sbin:/system/bin
    export LD_LIBRARY_PATH /system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /logs
    mkdir /cache
    mount /tmp /tmp tmpfs

    mkdir /factory 0775 system system
    mkdir /config 0775 system system

    mount_all /fstab.${ro.hardware}

    mkdir /factory/telephony 0770 system radio
    mkdir /config/telephony 0770 system radio

    chown root shell /tmp
    chmod 0775 /tmp

    chown system system /logs
    chmod 777 /logs

    write /proc/sys/kernel/panic_on_oops 1
    write /sys/module/intel_mid/parameters/force_cold_boot 1

    # adb shell needs /system/bin/sh
    symlink /system/bin/mksh /system/bin/sh

    # set usb serial number
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default
    class_start core

    # reset counter watchdog at the end of system boot
    write /sys/devices/virtual/misc/watchdog/counter "0"

    setprop sys.usb.config adb

service partlink /system/bin/partlink
    oneshot

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

service thermald /sbin/thermald
    class core
    user root

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    start console

on property:ro.debuggable=0
    stop console

on property:service.adb.enable=1
    start adbd

on property:service.adb.enable=0
    stop adbd

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

#one of the following property triggers will enable adb if it is enabled in regular operation

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09ef
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

# USB ACM configuration, with rndis and adb
on property:sys.usb.config=rndis,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09f8
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09f2
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x09fc
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct Fec0
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

service apk_logfs /sbin/logcat -b system -b events -b main -b radio -b kernel -n 20 -r 5000 -v threadtime -f /logs/aplog
    disabled

on property:persist.service.apklogfs.enable=1
    start apk_logfs

on property:persist.service.apklogfs.enable=0
    stop apk_logfs

# Add Proxy service for Modem provisionning
service proxy /sbin/proxy -d none -m /dev/ttyIFX0 -p /dev/ttyGS0 -t on
    disabled

on property:service.proxy.enable=1
    setprop sys.usb.config rndis,acm,adb
    start proxy

on property:service.proxy.enable=0
    stop proxy
    setprop sys.usb.config adb
